*.pyc
*.egg-info
build
.coverage
.tox
cover
.testrepository
subunit.log
AUTHORS
ChangeLog
dist
*.egg
*.eggs
autoscan/versioninfo
doc/source/api/autoscan.*.rst
doc/source/api/tests.*.rst
doc/source/api/autoindex.rst
doc/source/sourcecode
*.mo
